{{!< default}}

{{> "header"}}


    <div class="container">
        <div class="jumbotron text-center hx-error-content">
            <div class="container">
                <h1 class="display-5">404 Error</h1>
                <p class="lead">Sorry Page not found. The Page may have been deleted or doesnot exist.</p>
                <img src="{{asset "images/404.gif"}}" class="img-fluid mt-3 mb-5" alt="Responsive image">
                <p class="lead">
                    <a class="btn btn-secondary btn-dark btn-sm" href="{{@blog.url}}" role="button">Back Home</a>
                </p>
            </div>
        </div>
    </div>