$hgreen: #00A878; //green
$horange: #F78154; //orange
$hpurple: #5F4BB6; //purple
$hred: #DB3A34; //red
$hblue: #279AF1; //blue

$themecolor: $hgreen;

// Social
$facebook : #3b5998;
$twitter: #00b6f1;
$youtube: #ff0000;
$instagram: #c32aa3;
$pintrest: #cb2027;
$google: #df4a32;
$linkedin: #007bb6;
$whatsapp: #128c7e;
$snapchat: #fffc00;
$tumblr: #35465d;
$stumbleupon: #eb4924;
$dribble: #ea4c89;
$reddit: #ff5700;

